{% extends 'base.html.twig' %}

{% block title %}Hello AproposController!{% endblock %}

{% block body %}
<div class="container-fluid">
{# <div class="header-custom hc"> #}
<img src="{{ asset('images/40861-6-pain-in-the-neck-download-hq-png.png')}}"class ="imag-pag-traits img-fluid mx-auto d-block">
<section>
<div class="row mt-5">
<img src="{{ asset('images/pe-pavel-danilyuk.jpg')}}" class="col-md-5" alt="Presentation Dr. Chitour">
<div class="col-md-7 my-auto">
<h2 class="text-center">Qui je-suis ?</h2>
<p class="">L’acupuncture peut aider à gérer la douleur chronique en :
Stimulation des nerfs dans les muscles et autres tissus, entraînant la libération d'endorphines et d'autres neurotransmetteurs tels que la sérotonine, et des changements dans la partie du cerveau qui traite la douleur.
Soulagement de la douleur grâce aux mécanismes des récepteurs alpha-adrénergiques (Koo 2008).
Augmenter la libération d'adénosine, qui a des propriétés analgésiques (Goldman 2010).
Régulation du système limbique (Hui 2009)
Réduire l'inflammation par la libération de substances immunorégulatrices (Kavoussi 2007, Zijlstra 2003).
Améliorer la rigidité et la mobilité en améliorant la microcirculation locale (Komori 2009), ce qui aide à résoudre l'enflure .</p>
</p>
</div>
</div>
</section>

</div>
{% endblock %}
